.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.ingredients,
.instructions {
    display: flex;
    background-color: pink;
    flex-direction: column; 
    width: 80%; 
    padding: 20px;
    border: 5px solid black; 
}

ul,
ol {
    background-color: pink;
    font-family: monospace;
    color: black;
    margin-left: -20px; 
    text-transform: lowercase; 
}

h1,
h2 {
    margin: 1;
    padding: 25px;
    background-color: pink;
    color: black;
    border: 5px solid black;
}

footer {
    padding: 25px;
    border: 5px solid black;
    width: 75%;
    margin-top: 1%;
    background-color: pink;
}
