b{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('me.jpg');
    background-size: contain; /* Changed to contain */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: center; /* Centers the background image */
}

.container {
    width: 80%; 
    margin: 0 auto;
}

header, nav, main, footer {
    width: 100%; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: circle; 
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}